<footer class="page-footer">

    <div class="page-footer__top-row">



        <div class="page-footer__top-links">
            <a href="#" class="page-footer__top-link">
                Положения и условия
            </a>
            <a href="#" class="page-footer__top-link">
                Политика конфиденциальности
            </a>
            <a href="#" class="page-footer__top-link">
                Политика использования файлов cookie
            </a>
        </div>

    </div>
    <div class="page-footer__bottom-row">

        <div class="page-footer__bottom-text">
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
            используют потому, что тот обеспечивает стандартное заполнение
        </div>

    </div>

</footer>