{{#extend "layout"}}
{{#content "main"}}

<section class="user">
    <div class="container">
        <div class="user__top-panel">
            <div class="user__breadcrumbs">
                <a href="#" class="user__breadcrumbs-link">
                    Главная
                </a>
                <a href="#" class="user__breadcrumbs-link active">
                    Руководства для клиентов
                </a>
                <a href="#" class="user__breadcrumbs-link">
                    Видеоинструкция для клиентов
                </a>
            </div>

            <a href="#" class="user__back">
                <svg width="12" height="8" aria-hidden="true" class="icon-arrow-right-rounded">
                    <use xlink:href="#right-arrow"></use>
                </svg>
                Назад
            </a>
        </div>
        <h2 class="user__heading">
            Полезные материалы для клиентов
        </h2>
        <div class="user__text">
            <p>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона®.
            </p>
            <p>
                Здесь вы можете просмотреть, загрузить или распечатать руководство.
            </p>
        </div>
        <ul class="user__items-list">
            <li class="user__items-list-item">
                <div class="user__items-card">
                    <div class="user__items-card-content">
                        <h4 class="user__items-card-title">
                            Помогаем узнать больше
                        </h4>
                        <div class="user__items-card-text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона стандартное заполнение шаблона®
                        </div>
                    </div>

                    <img src="img/item-1.jpg" alt="" class="user__items-card-image">
                </div>
            </li>
            <li class="user__items-list-item">
                <div class="user__items-card">
                    <div class="user__items-card-content">
                        <h4 class="user__items-card-title">
                            Руководство по выполенению рекомендаций
                            для клиентов®
                        </h4>
                        <div class="user__items-card-text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона®
                        </div>
                    </div>

                    <img src="img/item-1.jpg" alt="" class="user__items-card-image">
                </div>
            </li>
            <li class="user__items-list-item">
                <div class="user__items-card">
                    <div class="user__items-card-content">
                        <h4 class="user__items-card-title">
                            Руководство по выполнению
                        </h4>
                        <div class="user__items-card-text">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
                            Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
                            шаблона стандартное заполнение шаблона®
                        </div>
                    </div>

                    <img src="img/item-2.jpg" alt="" class="user__items-card-image">
                </div>
            </li>
            <li class="user__items-list-item">
                <div class="user__items-card">
                    <div class="user__items-card-content">
                        <h4 class="user__items-card-title">
                            Дневник клиента
                        </h4>
                        <div class="user__items-card-text">
                            Данный материал поможет вам отслеживать ваши действия
                        </div>
                    </div>

                    <img src="img/item-3.jpg" alt="" class="user__items-card-image">
                </div>
            </li>
        </ul>
        <div class="user__where-to-get">
            <h3 class="user__where-to-get-heading">
                Куда вы можете обратиться за дополнительной информацией и поддержкой?
            </h3>
            <div class="user__where-to-get-text">
                <p>
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem
                    Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
                </p>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}