{{#extend "layout"}}
{{#content "main"}}

<section class="user user--video">
    <div class="container">
        <div class="user__top-panel">
            <div class="user__breadcrumbs">
                <a href="#" class="user__breadcrumbs-link">
                    Главная
                </a>
                <a href="#" class="user__breadcrumbs-link active">
                    Руководства для клиентов
                </a>
                <a href="#" class="user__breadcrumbs-link">
                    Видеоинструкция для клиентов
                </a>
            </div>

            <a href="#" class="user__back">
                <svg width="12" height="8" aria-hidden="true" class="icon-arrow-right-rounded">
                    <use xlink:href="#right-arrow"></use>
                </svg>
                Назад
            </a>
        </div>
        <h2 class="user__heading">
            Видеоинструкции для клиентов для
            самостоятельных действий
        </h2>
        <div class="user__text">
            <p>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,®
            </p>
            <p>
                Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum
                используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона,
            </p>
        </div>

        <div class="user__video">
            <div class="user__video-card">
                <div class="user__video-card-description">

                    <h4 class="user__video-card-title">
                        Видеоролик №1
                    </h4>
                </div>
                <a data-width="640" data-height="360" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="user__video-card-preview">
                    <img src="img/video-1.jpg" alt="">
                </a>
            </div>
            <div class="user__video-card">
                <div class="user__video-card-description">

                    <h4 class="user__video-card-title">
                        Видеоролик №2
                    </h4>
                </div>
                <a data-width="640" data-height="360" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="user__video-card-preview">
                    <img src="img/video-2.jpg" alt="">
                </a>
            </div>
        </div>

    </div>
</section>

{{/content}}
{{/extend}}